<% if (addons.announcements.enabled == true) { %>
	   <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="../assets/legacyv1/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0"><%= addons.announcements.topmessage %></h4>
                        <p class="mb-0 font-weight-normal d-none d-sm-block"><%= addons.announcements.message %></p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 ps-0 text-center">
                        <a class="btn btn-outline-light btn-rounded get-started-btn" href="<%= addons.announcements.href_url %>"><%= addons.announcements.buttontext %></a>
                    <!-- Announcement code here -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<% } %>
